<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add Vehicle</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="container col-4">
    <h2 class="pt-4 text-center">Add Vehicle</h2>
    <div class="fleet-form p-3">
        <form action="\addvehicle" method="POST">
            <div>
                <div>
                    <label for="vYear" class="form-label mb-2">Enter Vehicle Year:</label>
                    <input id="vYear" type="text" name="vYear" class="form-control mb-2 col">
                </div>
                <div>
                    <label for="vMake" class="form-label mb-2">Enter Vehicle Make:</label>
                    <input id="vMake" type="text" name="vMake" class="form-control mb-2">
                </div>
                <div>
                    <label for="vModel" class="form-label mb-2">Enter Vehicle Model:</label>
                    <input id="vModel" type="text" name="vModel" class="form-control mb-2">
                </div>
                <div>
                    <label for="vMileage" class="form-label mb-2">Enter Vehicle Mileage:</label>
                    <input id="vMileage" type="text" name="vMileage" class="form-control mb-2">
                </div>
            </div>
            <input type="submit" class="mt-4 mb-4 btn btn-sm btn-outline-success" value="Save">
        </form>
        <form action="\fleetlist"><input type="submit" class="btn btn-sm btn-outline-secondary" value="Cancel"></form>
    </div>
</body>
</html>