/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Lato', sans-serif;
*/

h1, h2, h3, h4, h5, h6 {
    color:#ffffff;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-weight: 300;
    font-size: 50px;
}

h2 {
    font-weight: 300;
    font-size: 40px;
}

body {
    background-image: url("../img/vecteezy_front-view-dark-silhouette-of-a-modern-luxury-black-car_23977547_963.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    color:#ffffff;
    font-family: 'Lato', sans-serif;
}

table {
    font-size: 16px;
}

th, td {
    color:#ffffff;
    font-family: 'Lato', sans-serif;
}

.fleet-table {
    background-color: rgba(41, 41, 41, 0.65);
    border-radius: 15px;
}

.fleet-form {
    background-color: rgba(41, 41, 41, 0.65);
    border-radius: 15px;
}

.fleet-container {
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
    align-items: center;
}

.table-hover tbody tr:hover {
    background-color: rgba(41, 41, 41, 0.8);
}

main {
    flex-grow: 1;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    text-align: center;
}

.footer p,a {
    color: #ffffff;
    opacity: 0.5;
}

.attribution {
    padding-right: 70px;
}
